<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javastudy.mapper.EmpMapper">

<!--    定义可重复的片段-->
    <sql id="commonSelect">
        select id, username, password, name, gender, image, job, entrydate, dept_id, create_time, update_time
        from emp
    </sql>

    <!--    resultType:  但条记录所封装的类型-->
    <select id="selectByWhere" resultType="com.javastudy.pojo.Emp">
        <include refid="commonSelect"/>
        <where>
            <if test="name != null">
                name like concat('%',#{name},'%')
            </if>
            <if test="gender!=null">
                gender=#{gender}
            </if>
            <if test="startDate != null and endDate!= null">
                entrydate between #{startDate} and #{endDate}
            </if>
        </where>
        order by update_time desc
    </select>

    <!--    动态更新-->
    <update id="update">
        update emp
        <set>
            <if test="username != null">username=#{username},</if>
            <if test="name != null">name=#{name},</if>
            <if test="gender != null">gender=#{gender},</if>
            <if test="image != null">image=#{image},</if>
            <if test="job != null">job=#{job},</if>
            <if test="entrydate != null">entrydate=#{entrydate},</if>
            <if test="deptId != null">dept_id=#{deptId},</if>
            <if test="updateTime != null">update_time=#{updateTime},</if>
            <if test="name != null">name=#{name}</if>
        </set>
        where id = #{id}
    </update>

    <!--    批量删除员工 (14, 15, 23)-->
    <!--
    collection    要遍历的集合
    item            遍历出来的元素
    separator       遍历出来的元素 拼接时使用的分隔符
    open            遍历开始前拼接的片段
    close           遍历结束后拼接的片段
    -->
    <delete id="deleteByIds">
        delete
        from emp
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>